<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.DbEmployeeConnectionString"
            connectionString="Data Source=MELEK\SQLEXPRESS;Initial Catalog=DbEmployee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>